.nav-link {
    color: black;
}
.jumbotron {
    background-image: url("../img/pizza.png");
}
h1 {
    color: #4f4f4f;
    background: rgba(255, 255, 255, 0.6);
    text-align: center;
}
.card-header {
    background-color: #0279f6;
    color: white;
}
.card-footer {
    padding-left: 85%;
}
h5.card-header {
    background-color: #f0f0f0;
    color: black;
}