
/*h1 {*/
/*    color: purple;*/
/*    background-color: antiquewhite;*/
/*}*/
h3 {
    color: navy;
    background-color: antiquewhite;
}

.fancy-header {
    color: blue; /* single line comment */
    text-decoration: underline;
    font-size: 100px;
}

